.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, aquamarine, rgb(0, 115, 255));
  font-family: 'Segoe UI', sans-serif;
}

.card {
  background-color: #fff;
  padding: 50px 40px;
  border-radius: 25px;
  text-align: center;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
}

.input {
  width: 80%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.button {
  width: 50%;
  padding: 14px;
  margin-top: 15px;
  font-size: 1rem;
  background-color: aqua;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.button:hover {
  background-color: aquamarine;
}

.message {
  color: black;
  margin-top: 12px;
}

.subtext {
  margin-top: 18px;
  font-size: 0.9rem;
  color: aqua;
}
